
.rect-bar-10 {
				width: 150px;
				background: #30EFD0;
				color: transparent;
				bottom: 0;
				right: 100px;
				position: absolute;


   -webkit-transition: height 1s ease;
   transition:         height 1s ease; 
-webkit-transition-delay: .5s;
transition-delay: .5s;

			height: 0;

			&.one {
			height: 0;
								&.expanded-33 {
											 height: 10%;
								}
				}

				&.two {

								height: 0;
						right: 250px;
								&.expanded-10 {
											 height: 20%;
								}
				}

				&.three {
								height: 0;
						right: 400px;
								&.expanded-50 {
											 height: 30%;
								}
				}


				&.four {
								height: 0;
						right: 550px;
								&.expanded-50 {
											 height: 10%;
								}
				}

}





.rect-bar-6 {
				height: 33.33%;
				background: #3c3c41;
				color: transparent;
				top: 0;
				right: 0;
				position: absolute;

   -webkit-transition: all 1s ease;
   transition:         all 1s ease; 
			width: 0;

			&.one {

								&.expanded-33 {
												width: 40%;
								}
				}

				&.two {
									top: 33.33%;
								&.expanded-10 {
												width: 20%;
								}
				}

				&.three {
									top: 66.66%;
								&.expanded-50 {
												width: 10%;
								}
				}
}







.rect-bar-3 {
			height: 33.33%;
			background: #3c3c41;
			color: transparent;
			top: 0;
			right: 0;
			position: absolute;

			-webkit-transition: all 1s ease;
			transition:         all 1s ease; 
			width: 0;

			&.one {

								&.expanded-33 {
												width: 40%;
								}
				}

				&.two {
									top: 33.33%;
								&.expanded-10 {
												width: 20%;
								}
				}

				&.three {
									top: 66.66%;
								&.expanded-50 {
												width: 10%;
								}
				}
}









.rect-bar-2 {
				height: 25%;
				background: #fff;
				color: transparent;
				top: 0;
				right: 0;
				position: absolute;

   -webkit-transition: all 1s ease;
   transition:         all 1s ease; 
			width: 100%;

			&.one {

								&.expanded-33 {
												width: 33%;
								}
				}

				&.two {
									top: 25%;
								&.expanded-10 {
												width: 10%;
								}
				}

				&.three {
									top: 50%;
								&.expanded-50 {
												width: 25%;
								}
				}


				&.four {
									top: 75%;
								&.expanded-50 {
												width: 40%;
								}
				}


}



.rect-bar-1 {
				height: 33.33%;
				background: rgb(0, 130, 115);
				color: transparent;
				top: 0;
				right: 0;
				position: absolute;

   -webkit-transition: all 1s ease;
   transition:         all 1s ease; 
			width: 10px;

			&.one {

								&.expanded-33 {
												width: 25%;
								}


					&.expanded-stage21{
									width: 20%;
					}	


										&.expanded-11{
									width: 10%;
					}											
				}

				&.two {
									top: 33.33%;
								&.expanded-10 {
												width: 10%;
								}

								&.expanded-stage22{
										width: 30%;
								}

													&.expanded-12{
									width: 20%;
					}	
				}

				&.three {
									top: 66.66%;
								&.expanded-50 {
												width: 25%;
								}



								&.expanded-stage23{
										width: 10%;
								}


													&.expanded-13{
									width: 30%;
					}	
				}
}


.rect-bar-5 {
				width: 33.33%;
				background: #ffffff;
				color: transparent;
				top: 0;
				right: 0;
				position: absolute;

   -webkit-transition: all 1s ease;
   transition:         all 1s ease; 
			height: 100%;

			&.one {
height: 100%;
								&.expanded-33 {
											 height: 40%;
								}
				}

				&.two {

height: 100%;
									right: 33.33%;
								&.expanded-10 {
											 height: 20%;
								}
				}

				&.three {
height: 100%;
									right: 66.66%;
								&.expanded-50 {
											 height: 0px;
								}
				}
}
