





//Setup
@import url(https://fonts.googleapis.com/css?family=Open+Sans); 

@mixin stagger-anim-delay($i, $initial-delay, $stagger-delay) {
  @while $i > 0 {
    &:nth-of-type(#{$i}) {
      animation-delay: $initial-delay + $stagger-delay * $i;
    }
    $i: $i - 1;
  }
}


// chart 1

.skills {
    width: 140px;
    height: 100%;
    margin: auto;
    position: relative;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    border-right: 3px solid white;




    .dash {
    				background-color: white;
    				position: absolute;
    				top: 0%;
    				right: 0;
    				width: 10px;
    				height: 3px;
    				color: transparent;


    				&:nth-child(1) {
    								top: 0%;
                    display: none;
    				}

    				&:nth-child(2) {
    								top: 10%;
    				}

    				&:nth-child(3) {
    								top: 20%;
    				}

    				&:nth-child(4) {
    								top: 30%;

    				}


            &:nth-child(5) {
                    top: 40%;
            }

            &:nth-child(6) {
                    top: 50%;
            }

            &:nth-child(7) {
                    top: 60%;
            }

            &:nth-child(8) {
                    top: 70%;

            }

            &:nth-child(9) {
                    top: 80%;

            }

            &:nth-child(10) {
                top: 90%;

            }



    }



    .chart {
  margin: 30px 0 0;

  &:first-child {
    margin: 0;
  }
}

.chart__title {
  display: block;
  margin: 0 0 10px;

  font-weight: bold;

  opacity: 0;

  animation: 1s anim-lightspeed-in ease forwards;

  .chart--dev & {}
  .chart--prod & {
    animation-delay: 3.3s;
  }
  .chart--design & {
    animation-delay: 4.5s;
  }






}

.chart--horiz {
  overflow: hidden;
  padding-left: 30px;
}

.chart__bar {
  $border-rad: 0;
  width: 30px;
  margin-bottom: 10px;

  border-top-right-radius: $border-rad;
  border-bottom-right-radius: $border-rad;
  opacity: 0;

  animation: 1s anim-lightspeed-in ease forwards;

  .chart--dev & {
    @include stagger-anim-delay(11, 0.5s, 0.2s);
  }
  .chart--prod & {
    @include stagger-anim-delay(2, 3.8s, 0.2s);
  }
  .chart--design & {
    @include stagger-anim-delay(3, 5s, 0.2s);
  }



  display: inline-block;
    margin-right: 16px;


&:first-child{
  background-color: #FEF000;

}

&:nth-child(2){
  background-color: #008272;
}



animation-play-state: paused;

&.running{
  animation-play-state: running;
}

}

.chart__label {
  padding-left: 10px;
  line-height: 30px;
  color: white;
}

//Keyframes
@keyframes anim-lightspeed-in {
  0% {
    transform: translateY(200%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


}



// chart 1





// chart 2

.skills-2 {
    width: 30px;
    height: 480px;
    margin: auto;
    position: relative;
    position: absolute;
    left: 60px;
    bottom: -5px;
    overflow: hidden;
    border-right: 0px solid white;



    .dash-2 {
            background-color: #3c3c41;
            position: absolute;
            // top: 5%;
            right: 0;
            width: 100%;
            height: 10px;
            color: transparent;
            z-index: 10;





            &:nth-child(1) {
                    top: 25%;
            }

            &:nth-child(2) {
                    top: 45%;
            }

            &:nth-child(3) {
                    top: 65%;
            }

            &:nth-child(4) {
                    top: 85%;

            }


    }



.chart-2 {
  margin: 30px 0 0;

  &:first-child {
    margin: 0;
  }
}

.chart__title-2 {
  display: block;
  margin: 0 0 10px;

  font-weight: bold;

  opacity: 0;

  animation: 1s anim-lightspeed-in-2 ease forwards;

  .chart--dev-2 & {}
  .chart--prod-2 & {
    animation-delay: 3.3s;
  }
  .chart--design-2 & {
    animation-delay: 4.5s;
  }






}

.chart--horiz-2 {
  overflow: hidden;
  padding-left: 0;
  background: #fff;
}

.chart__bar-2 {
  $border-rad: 0;
  width: 30px;
  margin-bottom: 10px;

  border-top-right-radius: $border-rad;
  border-bottom-right-radius: $border-rad;
  opacity: 0;

  animation: 1s anim-lightspeed-in ease forwards;

  .chart--dev & {
    @include stagger-anim-delay(11, 0.5s, 0.2s);
  }
  .chart--prod & {
    @include stagger-anim-delay(2, 3.8s, 0.2s);
  }
  .chart--design & {
    @include stagger-anim-delay(3, 5s, 0.2s);
  }



  display: inline-block;
    margin-right: 16px;


&:first-child{
  background-color: #FEF000;

}

&:nth-child(2){
  background-color: #008272;
}



animation-play-state: paused;

&.running-2{
  animation-play-state: running;
}

}

.chart__label-2 {
  padding-left: 10px;
  line-height: 30px;
  color: white;
}

//Keyframes
@keyframes anim-lightspeed-in-2 {
  0% {
    transform: translateY(200%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
}

// chart 2





// chart 3
.skills-3 {
    width: 140px;
    height: 500px;
    margin: auto;
    position: relative;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    border-right: 2px solid white;




    .dash-3 {
            background-color: white;
            position: absolute;
            top: 0%;
            right: 0;
            width: 10px;
            height: 2px;
            color: transparent;

            &:nth-child(1) {
                    top: 10%;
            }

            &:nth-child(2) {
                    top: 20%;
            }

            &:nth-child(3) {
                    top: 30%;
            }

            &:nth-child(4) {
                    top: 40%;

            }


            &:nth-child(5) {
                    top: 50%;

            }

            &:nth-child(6) {
                    top: 60%;

            }

            &:nth-child(7) {
                    top: 70%;

            }

            &:nth-child(8) {
                    top: 80%;

            }

            &:nth-child(9) {
                    top: 90%;

            }



    }



.chart-3 {
  margin: 30px 0 0;

  &:first-child {
    margin: 0;
  }
}

.chart__title-3 {
  display: block;
  margin: 0 0 10px;

  font-weight: bold;

  opacity: 0;

  animation: 1s anim-lightspeed-in ease forwards;

  .chart--dev-3 & {}
  .chart--prod-3 & {
    animation-delay: 3.3s;
  }
  .chart--design-3 & {
    animation-delay: 4.5s;
  }






}

.chart--horiz-3 {
  overflow: hidden;
  padding-left: 30px;
}

.chart__bar-3 {
  $border-rad: 0;
  width: 30px;
  margin-bottom: 10px;

  border-top-right-radius: $border-rad;
  border-bottom-right-radius: $border-rad;
  opacity: 0;

  animation: 1s anim-lightspeed-in ease forwards;

  .chart--dev-3 & {
    @include stagger-anim-delay(11, 0.5s, 0.2s);
  }
  .chart--prod-3 & {
    @include stagger-anim-delay(2, 3.8s, 0.2s);
  }
  .chart--design-3 & {
    @include stagger-anim-delay(3, 5s, 0.2s);
  }



  display: inline-block;
    margin-right: 16px;


&:first-child{
  background-color: #FEF000;

}

&:nth-child(2){
  background-color: #008272;
}



animation-play-state: paused;

&.running-3{
  animation-play-state: running;
}

}

.chart__label-3 {
  padding-left: 10px;
  line-height: 30px;
  color: white;
}

//Keyframes
@keyframes anim-lightspeed-in {
  0% {
    transform: translateY(200%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.circle-2{

    background-color: #FEF000;
    color: transparent;
    position: absolute;
    left: 50%;

    -webkit-transition: width 1s ease, height 1s ease, border-radius 1s ease, margin 1s ease;
    transition: width 1s ease, height 1s ease, border-radius 1s ease, margin 1s ease;

    &:nth-child(1){
    width: 34px;
    height: 34px;
    border-radius: 17px;
    margin-left: -17px;
    top: 10px;

    &.suppressed{
      width: 0;
      height: 0;
      border-radius: 0px;
      margin-left: 0;



    }

    }


    &:nth-child(2){
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: -15px;
    top: 74px;

    &.suppressed{
      width: 0;
      height: 0;
      border-radius: 0px;
      margin-left: 0;

    }

    }

    &:nth-child(3){
    width: 26px;
    height: 26px;
    border-radius: 13px;
    margin-left: -13px;
    top: 134px;

    &.suppressed{
      width: 0;
      height: 0;
      border-radius: 0px;
      margin-left: 0;

    }

    }

    &:nth-child(4){
    width: 22px;
    height: 22px;
    border-radius: 11px;
    margin-left: -11px;
    top: 190px;

    &.suppressed{
      width: 0;
      height: 0;
      border-radius: 0px;
      margin-left: 0;

    }

    }

    &:nth-child(5){
    width: 18px;
    height: 18px;
    border-radius: 9px;
    margin-left: -9px;
    top: 242px;

    &.suppressed{
      width: 0;
      height: 0;
      border-radius: 0px;
      margin-left: 0;

    }

    }

    &:nth-child(6){
    width: 14px;
    height: 14px;
    border-radius: 7px;
    margin-left: -7px;
    top: 290px;

    &.suppressed{
      width: 0;
      height: 0;
      border-radius: 0px;
      margin-left: 0;

    }

    }

    &:nth-child(7){
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-left: -5px;
    top: 334px;

    &.suppressed{
      width: 0;
      height: 0;
      border-radius: 0px;
      margin-left: 0;

    }

    }

    &:nth-child(8){
    width: 6px;
    height: 6px;
    border-radius:3px;
    margin-left: -3px;
    top: 374px;

    &.suppressed{
      width: 0;
      height: 0;
      border-radius: 0px;
      margin-left: 0;

    }

    }

    &:nth-child(9){
    width: 2px;
    height: 2px;
    border-radius: 1px;
    margin-left: -1px;
    top: 410px;

    &.suppressed{
      width: 0;
      height: 0;
      border-radius: 0px;
      margin-left: 0;

    }

    }

    &:nth-child(10){
    width: 1px;
    height: 1px;
    border-radius: 0px;
    margin-left: -.5px;
    top: 442px;

    &.suppressed{
      width: 0;
      height: 0;
      border-radius: 0px;
      margin-left: 0;

    }

    }








}
}

// chart 3



// chart 4




.bar-chart-gradient{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fef000+0,fef000+30,30efd0+31,30efd0+66,ebebeb+67,ebebeb+100 */
background: #fef000; /* Old browsers */
background: -moz-linear-gradient(top, #fef000 0%, #fef000 30%, #30efd0 31%, #30efd0 66%, #ebebeb 67%, #ebebeb 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fef000 0%,#fef000 30%,#30efd0 31%,#30efd0 66%,#ebebeb 67%,#ebebeb 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fef000 0%,#fef000 30%,#30efd0 31%,#30efd0 66%,#ebebeb 67%,#ebebeb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef000', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
}


// chart








.skills-4 {
        width: 80px;
    height: 100%;
    margin: auto;
    position: relative;
    position: absolute;
    // left: 60px;
    // left: 30px;
    // bottom: -5px;
    // overflow: hidden;
    border-right: 3px solid white;



    .dash {
            background-color: white;
            position: absolute;
            top: 0%;
            right: 0;
            width: 10px;
            height: 3px;
            color: transparent;

            &:nth-child(1) {
                    top: 0%;
                    display: none;
            }

            &:nth-child(2) {
                    top: 10%;
            }

            &:nth-child(3) {
                    top: 20%;
            }

            &:nth-child(4) {
                    top: 30%;

            }


            &:nth-child(5) {
                    top: 40%;
            }

            &:nth-child(6) {
                    top: 50%;
            }

            &:nth-child(7) {
                    top: 60%;
            }

            &:nth-child(8) {
                    top: 70%;

            }

            &:nth-child(9) {
                    top: 80%;

            }

            &:nth-child(10) {
                top: 90%;

            }

    }


}

.chart-4 {
  margin: 30px 0 0;

  &:first-child {
    margin: 0;
  }
}

.chart__title-4 {
  display: block;
  margin: 0 0 10px;

  font-weight: bold;

  opacity: 0;

  animation: 1s anim-lightspeed-in-2 ease forwards;

  .chart--dev-4 & {}
  .chart--prod-4 & {
    animation-delay: 3.3s;
  }
  .chart--design-4 & {
    animation-delay: 4.5s;
  }






}

.chart--horiz-4 {
  overflow: hidden;
  padding-left: 0;
  background: transparent;

}

.chart__bar-4 {
  $border-rad: 0;
  width: 30px;
  margin-bottom: 10px;

  border-top-right-radius: $border-rad;
  border-bottom-right-radius: $border-rad;
  opacity: 0;

  animation: 1s anim-lightspeed-in ease forwards;

  // .chart--dev & {
  //   @include stagger-anim-delay(11, 0.5s, 0.2s);
  // }
  // .chart--prod & {
  //   @include stagger-anim-delay(2, 3.8s, 0.2s);
  // }
  // .chart--design & {
  //   @include stagger-anim-delay(3, 5s, 0.2s);
  // }



  display: inline-block;
    margin-right: 16px;


&:first-child{
  background-color: #FEF000;


  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fef000+0,fef000+30,30efd0+31,30efd0+66,ebebeb+67,ebebeb+100 */
background: #fef000; /* Old browsers */
background: -moz-linear-gradient(top, #fef000 0%, #fef000 30.5%, #30efd0 30.6%, #30efd0 66.5%, #ebebeb 66.6%, #ebebeb 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fef000 0%,#fef000 30.5%,#30efd0 30.6%,#30efd0 66.5%,#ebebeb 66.6%,#ebebeb 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fef000 0%,#fef000 30.5%,#30efd0 30.6%,#30efd0 66.5%,#ebebeb 66.6%,#ebebeb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef000', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */


}

&:nth-child(2){
  background-color: #008272;
}



animation-play-state: paused;

&.running-4{
  animation-play-state: running;
}

}

.chart__label-4 {
  padding-left: 10px;
  line-height: 30px;
  color: white;
}

//Keyframes
@keyframes anim-lightspeed-in-2 {
  0% {
    transform: translateY(200%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


// next





// chart 1

.skills-100 {
    width: 140px;
    height: 100%;
    margin: auto;
    position: relative;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    border-right: 3px solid white;




    .dash {
            background-color: white;
            position: absolute;
            top: 0%;
            right: 0;
            width: 10px;
            height: 3px;
            color: transparent;

            &:nth-child(1) {
                    top: 0%;
                    display: none;
            }

            &:nth-child(2) {
                    top: 10%;
            }

            &:nth-child(3) {
                    top: 20%;
            }

            &:nth-child(4) {
                    top: 30%;

            }


            &:nth-child(5) {
                    top: 40%;
            }

            &:nth-child(6) {
                    top: 50%;
            }

            &:nth-child(7) {
                    top: 60%;
            }

            &:nth-child(8) {
                    top: 70%;

            }

            &:nth-child(9) {
                    top: 80%;

            }

            &:nth-child(10) {
                top: 90%;

            }

    }



.chart {
  margin: 30px 0 0;

  &:first-child {
    margin: 0;
  }
}

.chart__title {
  display: block;
  margin: 0 0 10px;

  font-weight: bold;

  opacity: 0;

  animation: 1s anim-lightspeed-in ease forwards;

  .chart--dev & {}
  .chart--prod & {
    animation-delay: 3.3s;
  }
  .chart--design & {
    animation-delay: 4.5s;
  }






}

.chart--horiz {
  overflow: hidden;
  padding-left: 30px;
}

.chart__bar {
  $border-rad: 0;
  width: 30px;
  margin-bottom: 10px;

  border-top-right-radius: $border-rad;
  border-bottom-right-radius: $border-rad;
  opacity: 0;

  animation: 1s anim-lightspeed-in ease forwards;

  .chart--dev & {
    @include stagger-anim-delay(11, 0.5s, 0.2s);
  }
  .chart--prod & {
    @include stagger-anim-delay(2, 3.8s, 0.2s);
  }
  .chart--design & {
    @include stagger-anim-delay(3, 5s, 0.2s);
  }



  display: inline-block;
    margin-right: 16px;
    // margin-left: 24px;

&:first-child{
  background-color: #FEF000;

}

&:nth-child(2){
  background-color: #008272;
}



animation-play-state: paused;

&.running{
  animation-play-state: running;
}


margin-left: 24px;

}

.chart__label {
  padding-left: 10px;
  line-height: 30px;
  color: white;
}

//Keyframes
@keyframes anim-lightspeed-in {
  0% {
    transform: translateY(200%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
}

// chart 1

