

.l-dk-grey-r-white{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#757575+0,757575+50,ffffff+51,ffffff+100 */
background: #757575; /* Old browsers */
background: -moz-linear-gradient(left, #757575 0%, #757575 50%, #ffffff 51%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #757575 0%,#757575 50%,#ffffff 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #757575 0%,#757575 50%,#ffffff 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757575', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}